<!--Header -->
<div class="card">
    <div class="card-header">
        New Product
    </div>
    <!--Body -->

    <!--Footer -->
    <div class="card-footer text-muted">
        Footer
    </div>
</div>