<!--Header -->
<div class="card">
    <div class="card-header">
        New Product
    </div>
    <!--Body -->
    <form class="mt-3 ml-4 mr-4 mb-4">
        <div class="form-group">
            <label for="txtProduct">Product</label>
            <input type="text" class="form-control" id="txtProduct" autofocus>
        </div>
        <a class="btn btn-primary mt-2" href="/admin/products" role="button" title="Back to Products list">
            <i class="fa fa-backward" aria-hidden="true"> Back</i>
        </a>
        <button type="submit" class="btn btn-success pull-right mt-2"><i class="fa fa-check" aria-hidden="true">
                Save</i></button>
    </form>
    <!--Footer -->
    <div class="card-footer text-muted">
        Footer
    </div>
</div>